---
import { GoRepoForked, GoStarFill } from "react-icons/go";

interface Props {
  title: string;
  description: string;
  language: string;
  fork: number;
  stars: number;
  image: string;
  href: string;
}

const { title, description, language, fork, stars, image, href } = Astro.props;
---

<a href={href} title={title} target="_blank" rel="noreferrer">
  <div class="projectCard card hoverable" data-url={href}>
    <img src={image} />
    <div class="card-content">
      <div class="card-text">
        <h3>{title}</h3>
        <p>
          {description}
        </p>
      </div>
      <div class="card-props">
        <p class:list={["language", language.toLowerCase()]}>{language}</p>

        <div class="prop-categ">
          <div class="props">
            <GoRepoForked />
            <p>{fork}</p>
          </div>

          <div class="props">
            <GoStarFill />
            <p>{stars}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
<style>
  .card img {
    width: 250px;
    border-radius: 18px;
  }
  .card {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 0.1fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 48px;
  }

  .card:active {
    transform: scale(0.99);
  }

  .card-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .card-text p {
    margin: 0;
    color: var(--content);
    font-size: 18px;
    max-width: 900px;
  }

  .card-text h3 {
    font-size: 26px;
    font-weight: 600 !important;
    margin: 0;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .card-props {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .card-props .props {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .language {
    margin: 0;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 800;
  }

  .javascript {
    background: #f1e05a;
    color: var(--background);
  }

  .typescript {
    background: #3178c6;
    color: var(--background);
  }

  .props p {
    margin: 0;
    color: #b7b7b7;
    font-weight: 800;
  }

  .props svg {
    font-size: 22px !important;
    fill: var(--purple);
  }

  .prop-categ {
    display: flex;
    gap: 22px;
  }

  @media only screen and (max-width: 777px) {
    .card {
      grid-auto-flow: row;
      grid-auto-columns: 1fr;
      grid-auto-rows: 0.2fr 1fr;
      gap: 22px;
    }
  }

  @media only screen and (max-width: 450px) {
    .card-text h3 {
      font-size: 22px !important;
    }
    .card-text p {
      font-size: 16px !important;
    }
  }
</style>
