---
import type { CollectionEntry } from "astro:content";
import { SEO } from "astro-seo";

import Cursor from "../components/Cursor.astro";
import "../../styles/global.css";
import "../../styles/blog.css";

import "@fontsource-variable/outfit";
import "@fontsource-variable/space-grotesk";
import "@fontsource-variable/jetbrains-mono";

import BaseHeader from "../components/BaseHeader.astro";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, tags, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta
      name="google-site-verification"
      content="GLDYXiwtxDT7gHrDrVSF3MR8J6gi0CovrIDqbNVYCWY"
    />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "article",
          image:
            heroImage ||
            "https://repository-images.githubusercontent.com/530738693/5314ee8d-c83c-4840-b504-6de0f1d25fae",
        },
      }}
      twitter={{
        creator: "@rahuletto",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.svg" }],
        meta: [
          {
            name: "twitter:image",
            content: heroImage,
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />

    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="image" content={heroImage} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Blog</title>
    <ViewTransitions />
  </head>

  <body>
    <span class="glow"></span>
    <Cursor />
    <BaseHeader url="blog" />
    <main>
      <div class="scroll-watcher"></div>
      <article>
        <div class="hero-image">
          {heroImage && <img class="blog-img" src={heroImage} alt="" />}
        </div>
        <div class="prose">
          <div class="title">
            <h1>{title}</h1>
            <p>
              By <img
                src="https://avatars.githubusercontent.com/u/71836991?v=4"
              /> Rahuletto
            </p>
            <p>
              At {
                new Date(pubDate).toLocaleDateString("en-US", {
                  day: "2-digit",
                  month: "short",
                  year: "numeric",
                })
              }
            </p>
          </div>
          <div class="post">
            <slot />
          </div>
          <div class="tags">
            {tags && tags.map((el: string) => <span>{el}</span>)}
          </div>
        </div>
      </article>
    </main>
    <style>
      .scroll-watcher {
        height: 6px;
        position: fixed;
        top: 0;
        background-color: var(--purple);
        width: 100%;
        z-index: 1000;
        scale: 0 1;
        animation: scrollman linear;
        animation-timeline: scroll(y);
        transform-origin: left;
      }

      @keyframes scrollman {
        to {
          scale: 1 1;
        }
      }

      .glow {
        z-index: -1;
        box-shadow: 0px 0px 250px 80px var(--purple);
        position: absolute;
        top: 280px;
        left: 50vw;
        width: 1px;
        height: 1px;
        border-radius: 20px;
      }

      .title {
        margin: 20px 0px;
        margin-bottom: 32px;
      }

      .title h1 {
        margin: 30px 0px;
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 8px;
      }

      .title p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }
      .title p img {
        width: 32px;
        border-radius: 20px;
        border: 1px solid var(--border);
      }

      .hero-image {
        display: flex;
        justify-content: center;
      }
      article img {
        border: 1px solid var(--border);
        width: -webkit-fill-available;
        max-width: 700px;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
      }
      article {
        max-width: 56rem;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
        padding: 2rem 4rem;
      }

      .tags {
        display: flex;
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;
      }

      .tags span {
        margin: 0;
        padding: 6px 16px;
        border-radius: 20px;
        font-weight: 800;

        background: #2321247c;
        color: #d0d0d0;
      }

      @media only screen and (max-width: 696px) {
        .glow {
          box-shadow: 0px 0px 100px 15px var(--purple);
        }
        article {
          padding: 1rem 2rem;
          gap: 32px;
        }
      }

      @media only screen and (max-width: 400px) {
        article {
          padding: 1rem 1rem;
        }
      }
    </style>
    <Footer />
  </body>
</html>
